<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820709414130-b2lla6hf47njteuf33fphjp8akgrabh2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820709414130-b2lla6hf47njteuf33fphjp8akgrabh2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>820709414130-0h20cbotiu5cuani5jjc1nqqsg1ehumm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCg9HxoywsbfCdilCfbK5lslW8hxWy4WOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>820709414130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pursue.dating</string>
	<key>PROJECT_ID</key>
	<string>pursue2020</string>
	<key>STORAGE_BUCKET</key>
	<string>pursue2020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820709414130:ios:debc6f5980edafb908ac6b</string>
	<key>DATABASE_URL</key>
	<string>https://pursue2020.firebaseio.com</string>
</dict>
</plist>